

@media (max-width: 37.5em) {
	
	body { width:95%; }

	

	.module {
			padding:0.5em;
			
			float: left; 
			width: 100%;
	}
	
	.logo { width: 100%;}

	.noticies {  

		h1{width:100% !important;}

		p{width:100% !important; margin:0; padding-top: 1em;}
	}

}

//1024 px

@media (max-width: 64em) {

	

	body { width:90%; }

	.noticies { 


		p{width:80%; margin:0; padding-top: 1em; float: left;}
	}



}


@media (min-width: 100em) {

	body { width:70%; margin:0 auto; max-width: 1100px;}
	
	

}